.common-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .common-header-container {
    padding-top: 23px;
  }
}
